$Rojo-bullet: #f64552;
$Gris-bullet: #f8f8f8;
$Amarill-botones: #fbd43b;
$Gris-dark:#212121;
$Gris-letra-soft:#8f8f8f;
$Turquesa-Terminos-y-condiciones: #00c3a3;
$Morado-Entrada-de-numeros: #49233b;
$Morado-light: #451e36;
$Morado-dark: #38052a;
