@import 'query-sizes';
@import 'colors';

.boton{
    background-color: $Amarill-botones;
}
 #container-carousel, #container-parrafos {
     @media screen and (min-width: $break-small) {
        width: $full-width;
    }
    @media screen and (min-width: $break-medium) {
        width: $medium-width;
    }
    @media screen and (min-width: $break-large) {
        width: $small-width;
    }
}
h6{
    color:black;
}
.imagenes{
    width:200px;
    height: 200px;
}

/*REGISTRO*/
.imagen-registro{
    magin-top:200px;
}
btn_amarillo_registro{
     background-color: $Amarill-botones;
}
