@import 'colors';

#habilitarBoton{
    background-color: $Amarill-botones;
    width: 60%;
}
h6{
    color:black;
}

#container-carousel{
    height: 50vh;
}
.carousel-height{
	min-height: 70vh;
}
.img-alto{
    height: 180px;
    display: inline-block;
    width: 30%;
    margin: 10% 0 0 0;
}
.gray-text{
    color:$Gris-letra-soft;
}
.padd__sides-10{
	padding: 0 10px;
}
.carousel .indicators .indicator-item.active  {
    background-color: $Rojo-bullet!important;
}
.carousel .indicators .indicator-item {
    background-color: $Gris-bullet!important;;
}
.carousel .indicators {
    bottom: 2%!important;;
}
/*REGISTRO*/
.imagen-registro{
    margin-top:20px;
    width: 150px;
    height: 100px;
}
#btnRegistro{
     background-color: $Amarill-botones;
}

.black-text{
    color:black;
}
.carousel .indicators .indicator-item {
  background-color: rgba(16, 0, 0, 0.2);
}

.carousel .indicators .indicator-item.active {
  background-color: rgba(255, 0, 0, 0.6);
}
.indicators {
  margin-top: 60%;
}
 #test1{
    margin-top: 100px;
}
img{
    width: 100%;
    height: 200px !important;
}
/*estilos para pantalla registro*/
.letraGris{
    color: #8f8f8f !important;
}
.btn_amarillo_registro{
    background-color: $Amarill-botones;
}