<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Bien</title>
</head>

<body class="amarillo">
    <section class="container">
        <div class="row  center">
            <div class="col s12 m12 l12">
                <img class="imagenCheck" src="/img/icons/check.png" alt="check" class="responsive-img">
                <h4 class="">¡Bien!</h4>
                <h5>Ahora puedes usar Yape</h5>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="/static/assets/js/main.js"></script>
    <script src="/assets/js/time.js"></script>
    

</body>

</html>
