<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Enviar Pago</title>
</head>

<body style="background-color:#451e36">
    <!--seccion morado cafe-->
    <section class="contenedor-Saludo">
        <div class="row">
            <div class="col s12 contenedor-Saludo--engraneCont">
                <img class="right contenedor-Saludo--engraneCont__img" src="/img/icons/engine.png" alt="configuracion">
                <div class="imgCentral-Cont center  col s12 m12 l12 ">
                    <img class="imgCentral-Cont--imgCara center" src="/img/icons/happy-face.png" alt="logo">
                    <h5 class="center white-text">¡Hola!</h5>
                    <p class="center saldoLetra"><img class="eye" src="/img/icons/eye.png" alt="mirar">Mostrar saldo</p>
                </div>
            </div>
        </div>
    </section>
    <!--termina seccion morado cafe-->
    <section class="contenedor-morado-fuerte ">
        <div class="row">
            <span class="col s12 m12 l12 white-text ultMov">ULTIMOS MOVIMIENTOS<img class="flecha-img-cont right" src="/img/icons/right-arrow-circular-button.png" alt="flecha"></span>
            <hr class="col s12 m12">
        </div>
        <div class="container center">
            <div class="row">
                <div class="col s5 m5">
                    <img src="/img/icons/icon.png" alt="cactus" class="imgCont-cactus--img">
                </div>
                <div class="col s7 m7 left-align white-text">
                    <p>¿Aún no realizas tu primer pago?</p>
                    <p>Es rapido y sencillo</p>
                </div>
            </div>
            <div class="row">
                <div class="col s6 m6 center">
                    <div class="cont enviarRecibir-almacen">
                        <img src="/img/icons/send.png" alt="enviarimg" class="enviarRecibir-almacen--img">
                    </div>
                    <p class="white-text center">ENVIAR PAGO</p>
                </div>

                <div class="col s6 m6 center">

                    <div class="cont enviarRecibir-almacen">
                        <img src="/img/icons/code-qr.png" alt="recibirimg" class="enviarRecibir-almacen--img">
                    </div>
                    <p class="white-text center">RECIBIR PAGO</p>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="/static/assets/js/main.js"></script>

</body>

</html>
