<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="static/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/materialize-css/dist/css/materialize.min.css">
    <title>Ingresa tu Código</title>
</head>

<body>

    <section class="">	
				<div class="row center-align">	
					<div class="col s8 offset-s2">	
						<img src="/img/icons/message.png">
						<h3 class="center-align">Ahora ingresa tu código</h3>
						<h5 class="center-align">Enviamos un SMS con el código de validación al número <span id="number"></span></h5>
					</div>
				</div>
				<div class="row">
					<form>
						<div class="col s8 offset-s2">	
							<div class="row">
								<div class="input-field">
									<input placeholder="(+51)" id="first_name" type="number" class="validate" maxlength="9">
									<h5 class="center-align">Reintentar en 21 seg.</h5>
								</div>
						    </div>
						</div>
					</form>	
				</div>
		</section>


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="static/materialize-css/dist/js/materialize.min.js"></script>

    <script src="static/assets/js/main.js"></script>

</body>

</html>
