<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/materialize-css/dist/css/materialize.min.css">
    <title>Yape Mexico</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="center col s12 m12">
        <div class="container">
            <div class="row">
                <div class="col s12 m12">
                    <img class="imagen-registro" src="../../img/icons/phone.png">
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <h3>Para comenzar validemos tu número</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <h6 class="letraGris">Recibirás un SMS con un código de validación</h6>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <div class="row">
                        <div class=" center">
                            <form action="" id="registro-form">
                                <h5>
                                    <i class="material-icons letraGris">phonelink_ring</i> <span class="letraGris"> (+51)</span> <input id="inputNumTel" type="telefono" class="inputRegistro"></h5>
                            </form>
                        </div>
                        <form action="#">
                            <input name="group1" type="checkbox" id="checkDeTerminos" />
                            <label for="checkDeTerminos"><p class="center">Acepta los <span class="Terminos Y condiciones"><a href="">Términos y condiciones</a></span></p></label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <a class="waves-effect btn btn_amarillo_registro" id="btnContinuar">CONTINUAR</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="/assets/js/main.js"></script>
    
</body>
