DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/static/materialize-css/dist/css/materialize.min.css">
    <title>Yape Mexico</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <div class="center col s12 m12">
        <div class="container">
            <div class="row">
                <div class="col s12 m12">
                    <img src="/public/img/icons/phone.png">
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <h1>Para comenzar validemos tu número</h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <h4 class="">Recibirás un SMS con un código de validación</h4>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <div class="row">
                        <div class=" center">
                            <form action="" id="registro-form">
                                <h5>
                                    <i class="material-icons">phonelink_ring</i> <span class=""> (+51)</span> <input type="number" class="registro"></h5>
                            </form>
                        </div>
                        <div class="row"><input type="checkbox">
                            <h5>Acepta los <span class="Terminos Y condicionees"><a href="">Términos y condiciones</a></span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <a class="waves-effect btn btn_amarillo_registro
">CONTINUAR</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="static/materialize-css/dist/js/materialize.min.js"></script>

    <script src="static/assets/js/main.js"></script>
</body>
